*{
    box-sizing: border-box;
}

body{
    background-color: rgba(241, 241, 241, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center;    /*vertical*/
    padding: 170px 0;
}

.logo{
    width: 150px;
    margin-bottom: 20px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 50px 20px;
    margin-left: 180px;
}

input{
    width: 100%;
    height: 30px;
    background-color: rgba(241, 241, 241, 0.8);
    border: 1px solid #ccc;
    margin: 12px 0;
    padding: 20px 10px;
    border-radius: 5px;
}

button{
    height: 35px;
    width: 100%;
    background-color: #0095f6;
    border: 0;
    color: white;
    margin: 20px 0;
    border-radius: 5px;
}

button:hover{
    background-color: #006bb3;
}

.cta-cadastro{
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

a{
    color: black;
    font-weight: bold;
}

a:hover{
    color: rgb(71, 71, 71);
}

@media screen and (max-width: 1055px) {
    .login{
        margin-left: 100px;
    }
    
}

@media screen and (max-width: 950px) {
    .login{
        margin-left: 50px;
    }
    
}

@media screen and (max-width: 850px) {
    main{
        flex-direction: column;
    }

    .login{
        margin-top: 50px;
    }
}