*{
    box-sizing: border-box;
}

body{
    background-color: rgba(241, 241, 241, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


main{
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center;    /*vertical*/
    padding: 2.4rem 0;
}

.logo{
    width: 150px;
    margin-bottom: 20px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 50px 20px;
    margin-left: 180px;
}

input{
    width: 100%;
    height: 30px;
    background-color: rgba(241, 241, 241, 0.8);
    border: 1px solid #ccc;
    margin: 12px 0;
    padding: 20px 10px;
    border-radius: 5px;
}

button{
    height: 40px;
    width: 100%;
    background-color: #0095f6;
    border: 0;
    color: white;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #006bb3;
}

.cta-cadastro{
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

a{
    color: black;
    font-weight: bold;
}

a:hover{
    color: rgb(71, 71, 71);
}

/* REGISTRO */

.info-cadastro{
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
}

.banner-info{
    text-align: center;
    font-weight: bold;
}

/* INDEX */

.post{
    display: flex;
    flex-direction: column;
    margin: 35px auto;
    width: 500px;
    background-color: white;
    border: 1px solid #ccc;
}

.post-header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
}

.post-icon{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.post-header > p{
    margin-left: 20px;
}

.post-icon-more{
    margin-left: 270px;
}

.img-post > img{
    width: 100%;
}

.post-icon-more{
    cursor: pointer;
}

.post-info-1{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.post-info-1 > p{
    font-size: 18px;
}

svg{
    cursor: pointer;
    margin-top: 20px;
}

svg:hover path {
    fill: #ff0000;
}

.post-info-2{
    margin-left: 10px;
    margin-bottom: 15px;
}

.post-footer{
    border: 1px solid #ccc;
}

.post-footer > form{
    display: flex;
}

.post-footer > form > input{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border-radius: 0;
    background: #fff;
    border: 0;
}

.post-footer >  form > button{
    background-color: white;
    color: #004af6;
    font-weight: bold;
    font-size: 17;
    width: 30%;
}

.post-footer >  form > button:hover{
    color: #4a80ff;
}

/* RESPONSIVO */

@media screen and (max-width: 1055px) {
    .login{
        margin-left: 100px;
    }
    
}

@media screen and (max-width: 950px) {
    .login{
        margin-left: 50px;
    }
    
}

@media screen and (max-width: 850px) {
    main{
        flex-direction: column;
    }

    .login{
        margin-top: 50px;
    }
}